<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors errorMode="Detailed">
            <remove statusCode="502" subStatusCode="-1" />
            <remove statusCode="501" subStatusCode="-1" />
            <remove statusCode="500" subStatusCode="-1" />
            <remove statusCode="412" subStatusCode="-1" />
            <remove statusCode="406" subStatusCode="-1" />
            <remove statusCode="405" subStatusCode="-1" />
            <remove statusCode="404" subStatusCode="-1" />
            <remove statusCode="403" subStatusCode="-1" />
            <remove statusCode="401" subStatusCode="-1" />
            <error statusCode="401" prefixLanguageFilePath="" path="/error.php?e=401" responseMode="ExecuteURL" />
            <error statusCode="403" prefixLanguageFilePath="" path="/error.php?e=403" responseMode="ExecuteURL" />
            <error statusCode="404" prefixLanguageFilePath="" path="/error.php?e=404" responseMode="ExecuteURL" />
            <error statusCode="405" prefixLanguageFilePath="" path="/error.php?e=405" responseMode="ExecuteURL" />
            <error statusCode="406" prefixLanguageFilePath="" path="/error.php?e=406" responseMode="ExecuteURL" />
            <error statusCode="412" prefixLanguageFilePath="" path="/error.php?e=412" responseMode="ExecuteURL" />
            <error statusCode="500" prefixLanguageFilePath="" path="/error.php?e=500" responseMode="ExecuteURL" />
            <error statusCode="501" prefixLanguageFilePath="" path="/error.php?e=501" responseMode="ExecuteURL" />
            <error statusCode="502" prefixLanguageFilePath="" path="/error.php?e=502" responseMode="ExecuteURL" />
        </httpErrors>
        <security>
            <requestFiltering>
                <requestLimits maxUrl="40960" maxQueryString="20480" />
            </requestFiltering>
        </security>
        <urlCompression doStaticCompression="true" doDynamicCompression="true" />
        <defaultDocument>
            <files>
                
            </files>
        </defaultDocument>      
         <rewrite>
            <rules>             
                <rule name="Redirect main to www" enabled="false" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^www\.aparty\.com\.tw$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="https://www.aparty.com.tw/{R:0}" />
                </rule>
                <rule name="HTTP to HTTPS redirect" enabled="false" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                     <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                    </conditions>
                     <action type="Redirect" redirectType="Found" url="https://{HTTP_HOST}/{R:1}" />
                </rule>
            </rules>
        </rewrite>    
    </system.webServer>
    <system.web>
        <sessionState timeout="600" />
    </system.web>
</configuration>
