/** Green	#cc3f37
			#36a9e1
 **************************************************************** **/
	::selection {
		background: #cc3f37;
	}
	::-moz-selection {
		background: #cc3f37; /* Firefox */
	}
	::-webkit-selection {
		background: #cc3f37; /* Safari */
	}

	#aside nav ul li a:active,
	#aside nav ul li.menu-open,
	#aside nav ul li.always-open,
	#aside nav>ul>li>a:hover,
	#aside nav>ul>li>a:focus,
	#aside nav ul li.active,
	#aside nav ul li a.dashboard,
	#aside .logo,
	body.min #aside ul.nav>li>ul li,
	body.min #aside ul.nav li.menu-open,
	body.min #aside ul.nav>li:hover>ul,
	body.min #asidesize,
	#aside, #asidebg {
		background-color: #fff;
	}
	.fancy-file-upload.fancy-file-primary>span.button,
	.datepicker table tr td.active.active,
	.btn-primary,	
	.popular .plan-title
	 {
		background-color: #cc3f37;
	 }
	#header
	 {
		background-color: #cc3f37;
	 }
	body.min #aside ul.nav>li:hover:before {
		border-right-color: #fff;
	}

	.panel>.panel-heading strong {
		color:#ab342d;
	}
	
	.btn-primary:hover,  .btn-primary:focus, .btn-primary:hover{
		border-color:#ab342d;
	}

	.popular {
		border-color:#36a9e1 !important;
	}
	
	/**
		IMPORTANT
	**/
	.btn-primary,
	.alert-theme-color,
	.panel-primary>.panel-heading {
		background-color: #cc3f37 !important;
	}
	.panel-primary,
	.panel-primary>.panel-heading {
		border-color: #cc3f37 !important;
	}
	.btn-primary{
		border-color: #ae352e !important;
	}
	@media only screen and (min-width: 768px) {
		body.min #aside ul.nav>li:hover>a span {
			background-color: #fff;
			color:#cc3f37;
			text-align:center;
			font-weight:bold;
		}
	}
	
.btn-black {
	background-color: #444444;
	color:#ffffff;
}
.btn-blue {
	background-color: #0000AA;
	color:#ffffff;
}

/* text */
.text-status{
	display: inline-block;
	background-color: #cc3f37;
	color: #fff;
	padding: 6px 12px;
	height: 36px;
	line-height: 1.42857143;
}

#aside nav h3 {
	background-color:#cc3f37;
}
#header .btn {
	background-color:#cc3f37 !important;
}
/* tabs */
.nav .open>a, 
.nav .open>a:focus, 
.nav .open>a:hover {
	border-color:transparent !important;
	background-color:transparent !important;
	color:#cc3f37 !important;
}

.nav-tabs>li>a {
	color:#111;
	font-weight:bold;
	-webkit-border-radius: 3px !important;
	   -moz-border-radius: 3px !important;
			border-radius: 3px !important;
}
	.nav-tabs>li.active>a {
		color:#cc3f37;
	}
.nav-tabs.nav-justified>li>a {
	-webkit-border-radius: 0 !important;
	   -moz-border-radius: 0 !important;
			border-radius: 0 !important;
}
.nav-tabs.nav-top-border>li>a {
	border-top:transparent 3px solid !important;
}
.nav-tabs.nav-top-border>li.active>a,
.nav-tabs.nav-top-border>li.active>a:hover {
	border-top:#cc3f37 3px solid !important;
	color: #cc3f37 !important;
	-webkit-border-radius: 0 !important;
	   -moz-border-radius: 0 !important;
			border-radius: 0 !important;
}
.nav-tabs.nav-top-border>li>a:hover {
	background-color:transparent !important;
	border-color:transparent !important;
}

/* page */
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
	background-color: #cc3f37;
	border-color: #cc3f37;
}
.pagination>li>a, .pagination>li>span{
	color:#cc3f37;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #ab342d;
}