@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, div
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q,
s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
figure, header, nav, section, article, aside, footer, figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

header, nav, section, article, aside, footer, hgroup {
  display: block;
}

* {
  box-sizing: border-box;
}

html, body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: #fff;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none !important;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul {
  margin-bottom: 0px;
}

/* 
---------------------------------------------
global styles
--------------------------------------------- 
*/
html,
body {
  background: #fff;
  font-family: "Raleway", sans-serif;
}

::-moz-selection {
  background: #FA6C9F;
  color: #fff;
}

::selection {
  background: #FA6C9F;
  color: #fff;
}

::-moz-selection {
  background: #FA6C9F;
  color: #fff;
}

.section {
  background-color: #2445A6;
  color: #fff;
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
}

.section.colored {
  /* background: #ffeef5; */
}

.hr {
  bottom: 0px;
  width: 100%;
  height: 1px;
  margin-top: 100px;
  border-bottom: 1px solid #eee;
}

.left-heading.light .section-title {
  color: #ffffff;
}

.left-heading .section-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 42px;
  color: #1e1e1e;
  letter-spacing: 0.25px;
  margin-bottom: 30px;
  position: relative;
}

.center-heading {
  text-align: center;
}

.center-heading .section-title {
  font-weight: bold;
  font-size: 32px;
  color: #fff;
  line-height: 38px;
  margin-bottom: 20px;
}

.center-heading .section-subtitle {
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  letter-spacing: 1.75px;
  line-height: 1.4;
  margin-bottom: 40px;
  margin-top: 40px;
}
.center-heading.colored .section-title {
  color: #ffffff;
}

.center-text {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  color: #777;
  line-height: 28px;
  letter-spacing: 1px;
  margin-bottom: 50px;
}

.center-text.colored {
  color: #fff;
}

.center-text p {
  font-size: 15px;
  color: #777;
  margin-bottom: 30px;
}

.left-text {
  font-weight: 400;
  font-size: 16px;
  color: #777;
  line-height: 28px;
  letter-spacing: 1px;
}

.left-text.light {
  color: #fff;
}

.left-text p {
  margin-bottom: 30px;
}

.left-text p.dark {
  color: #3B566E;
}

.padding-bottom-top-60 {
  padding-top: 60px !important;
  padding-bottom: 60px !important;
}

.padding-bottom-80 {
  padding-bottom: 80px !important;
}

.padding-bottom-100 {
  padding-bottom: 100px !important;
}

.border-bottom {
  border-bottom: 1px solid #eee !important;
}

.mbottom-30 {
  margin-bottom: 30px !important;
}

.align-self-center {
  align-self: center !important;
}

.align-self-bottom {
  align-self: flex-end !important;
}

.padding-bottom-0 {
  padding-bottom: 0px !important;
}

.padding-top-0 {
  padding-top: 0px !important;
}

.padding-top-80 {
  padding-top: 80px !important;
}

.padding-top-70 {
  padding-top: 70px !important;
}

.padding-top-20 {
  padding-top: 20px !important;
}

.margin-bottom-0 {
  margin-bottom: 0px !important;
}

.margin-bottom-30 {
  margin-bottom: 30px !important;
}

.margin-top-30 {
  margin-top: 30px !important;
}

.margin-top-40 {
  margin-top: 40px !important;
}

.margin-top-50 {
  margin-top: 50px !important;
}

.margin-top-15 {
  margin-top: 15px !important;
}

.margin-bottom-45 {
  margin-bottom: 45px !important;
}

.margin-bottom-20 {
  margin-bottom: 20px !important;
}

.margin-bottom-60 {
  margin-bottom: 60px !important;
}

.margin-bottom-100 {
  margin-bottom: 100px !important;
}

@media (max-width: 991px) {
  html, body {
    overflow-x: hidden;
  }
  .mobile-top-fix {
    margin-top: 30px;
    margin-bottom: 0px;
  }
  .mobile-bottom-fix {
    margin-bottom: 30px;
  }
  .mobile-bottom-fix-big {
    margin-bottom: 60px;
  }
}

a.main-button-slider {
  font-size: 13px;
  border-radius: 20px;
  padding: 12px 20px;
  background-color: #FA6C9F;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.25px;
  transition: all 0.3s ease 0s;
}

a.main-button-slider:hover {
  background-color: #FA6C9F;
}

a.main-button {
  font-size: 13px;
  border-radius: 30px;
  padding: 12px 20px;
  background-color: #FA6C9F;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.25px;
  transition: all 0.3s ease 0s;
}

a.main-button:hover,
a.main-button:focus,
a.main-button:active {
  background-color: #fff;
  color: #FA6C9F;
}

button.main-button {
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 13px;
  border-radius: 20px;
  padding: 12px 20px;
  background-color: #FA6C9F;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.25px;
  transition: all 0.3s ease 0s;
}

button.main-button:hover,
button.main-button:focus,
button.main-button:active {
  background-color: #fff;
  color: #FA6C9F;
}

a.main-button-o {
  display: inline-block;
  font-size: 13px;
  border-radius: 30px;
  padding: 12px 20px;
  background-color: transparent;
  color: #fff;
  border: 2px solid #466bef;
  text-transform: uppercase;
  letter-spacing: 0.25px;
  transition: all 0.3s ease 0s;
}

a.main-button-o:hover,
a.main-button-o:focus,
a.main-button-o:active {
  background-color: #466bef;
  color: #fff;
}

button.main-button-o {
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 13px;
  border-radius: 20px;
  padding: 12px 20px;
  background-color: transparent;
  color: #fff;
  border: 2px solid #466bef;
  text-transform: uppercase;
  letter-spacing: 0.25px;
  transition: all 0.3s ease 0s;
}

button.main-button-o:hover,
button.main-button-o:focus,
button.main-button-o:active {
  background-color: #466bef;
  color: #fff;
}
/* 
---------------------------------------------
header
--------------------------------------------- 
*/
.header-area {
  position: fixed;
  top: 30px;
  left: 0px;
  right: 0px;
  z-index: 100;
  height: 100px;
  transition: all 0.3s ease 0s;
}

.header-area .main-nav {
  box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.3);
  border-radius: 40px;
  min-height: 80px;
  background: #fff;
  display: flex;
  align-content: center;
  justify-content: center;
}

.header-area .main-nav .logo {
  float: left;
  margin-top: 37px;
  transition: all 0.3s ease 0s;
  margin-left: 30px;
}

.header-area .main-nav .logo img {
  transition: all 0.3s ease 0s;
}

.header-area .main-nav .nav {
  transition: all 0.3s ease 0s;
  position: relative;
  z-index: 999;
}

.header-area .main-nav .nav li {
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
}

.header-area .main-nav .nav li a {
  display: block;
  font-weight: 500;
  font-size: 17px;
  color: #fff;
  transition: all 0.3s ease 0s;
  height: 40px;
  line-height: 40px;
  border: transparent;
}

.header-area .main-nav .nav li a:hover {
  color: #FA6C9F;
}

.header-area .main-nav .menu-trigger {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 23px;
  width: 32px;
  height: 40px;
  text-indent: -9999em;
  z-index: 99;
  right: 40px;
  display: none;
}

.header-area .main-nav .menu-trigger span,
.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  transition: all 0.4s;
  background-color: #3B566E;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  transition: all 0.4s;
  background-color: #3B566E;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
  width: 75%;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  content: "";
}

.header-area .main-nav .menu-trigger span {
  top: 16px;
}

.header-area .main-nav .menu-trigger span:before {
  transform-origin: 33% 100%;
  top: -10px;
  z-index: 10;
}

.header-area .main-nav .menu-trigger span:after {
  transform-origin: 33% 0;
  top: 10px;
}

.header-area .main-nav .menu-trigger.active span,
.header-area .main-nav .menu-trigger.active span:before,
.header-area .main-nav .menu-trigger.active span:after {
  background-color: transparent;
  width: 100%;
}

.header-area .main-nav .menu-trigger.active span:before {
  transform: translateY(6px) translateX(1px) rotate(45deg);
  background-color: #3B566E;
}

.header-area .main-nav .menu-trigger.active span:after {
  transform: translateY(-6px) translateX(1px) rotate(-45deg);
  background-color: #3B566E;
}

.header-area.header-sticky {
  min-height: 80px;
}

.header-area.header-sticky .logo {
  margin-top: 25px;
}

.header-area.header-sticky .nav {
  margin-top: 20px !important;
}

.header-area.header-sticky .nav li a {
  color: #2445A6;
}

.header-area.header-sticky .nav li a.active {
  color: #FA6C9F;
}

/* dropdown-menu */
.main-nav .dropdown-menu{
  padding: 15px 0px 15px 0px;
  border-radius: 0 0 20px 20px;
  border: none;
  box-shadow: 0px 12px 8px 1px rgba(0, 0, 0, 0.2);
  transform: translate3d(-50%, 58px, 0px) !important;
  left: 50% !important;
  right: 0;
}

.main-nav .dropdown-item{
  padding: 0px 30px;
  height: auto !important;
  text-align: left;
  width: 100%;
}

.main-nav .dropdown-item:hover,
.main-nav .dropdown-item:focus,
.main-nav .dropdown-item:active{
  background-color: #fff;
}

@media (max-width: 1200px) {
  .header-area .main-nav:before {
    display: none;
  }
}

@media (max-width: 991px) {
  .start-area{
    padding: 80px 0 70px 0 !important;
  }
  .header-area {
    padding: 0px 15px;
    height: 80px;
    box-shadow: none;
    text-align: center;
    top: 0px;
  }
  .header-area .container {
    padding: 0px;
  }
  .header-area .logo {
    margin-top: 27px !important;
    margin-left: 30px;
  }
  .header-area .menu-trigger {
    display: block !important;
  }
  .header-area .main-nav .menu-trigger span, .header-area .main-nav .menu-trigger span:before, .header-area .main-nav .menu-trigger span:after{
    background-color: #fff;
    width: 100%;
  }
  .header-area .main-nav .menu-trigger.active span:before,
  .header-area .main-nav .menu-trigger.active span:after{
    background-color: #fff;
  }
  .header-area .main-nav {
    overflow: hidden;
    background-color: transparent;
    box-shadow: none;
  }
  .header-area .main-nav .nav {
    float: none;
    width: 100%;
    margin-top: 80px !important;
    display: none;
    transition: all 0s ease 0s;
    margin-left: 0px; 
    overflow: hidden;
    border-radius: 40px;
  }
  .header-area .main-nav .nav li:first-child {
    border-top: 1px solid #eee;
  }
  .header-area .main-nav .nav li {
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .header-area .main-nav .nav li a {
    height: 50px !important;
    line-height: 50px !important;
    padding: 0px !important;
    border: none !important;
    background: #fff !important;
    color: #3B566E !important;
  }
  .header-area .main-nav .nav li a:hover {
    background: #eee !important;
  }
  .main-nav .dropdown-menu{
    position: relative !important;
    transform: translate3d(0px, 0px, 0px) !important;
    left: 0 !important;
    box-shadow: none;
    padding: 0;
    width: 100%;
    float: none;
  }
  .header-area .main-nav .nav .dropdown-item{
    text-align: center;
  }  
}

@media (min-width: 992px) {
  .header-area .main-nav .nav {
    display: flex !important;
  }
}


/*
---------------------------------------------
pricing
--------------------------------------------- 
*/
.pricing-item {
  background: #375ACE;
  color: #fff;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin-bottom: 30px;
  margin-top: 20px;
  padding: 30px 0px 40px 0px;
}

.pricing-item.active .pricing-header {
  position: relative;
}

.pricing-item.active .pricing-header .pricing-title {
  color: #1e1e1e;
}

.pricing-item.active .pricing-body .price-wrapper {
  background-color: #FA6C9F;
}

.pricing-item.active .pricing-body .price-wrapper .currency {
  color: #fff;
}

.pricing-item.active .pricing-body .price-wrapper .price {
  color: #fff;
}

.pricing-item.active .pricing-body .price-wrapper .period {
  color: #fff;
}

.pricing-item .pricing-header {
  text-align: center;
  display: block;
  position: relative;
  padding-bottom: 20px;
}

.pricing-item .pricing-header .pricing-title {
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.25px;
  color: #fff;
  height: 40px;
  line-height: 40px;
  left: 0px;
  right: 0px;
  margin: auto;
}

.pricing-item .pricing-body {
  margin-bottom: 40px;
}

.pricing-item .pricing-body .price-wrapper {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 13px;
  background: #FA6C9F;
  width: 80%;
  margin: auto;
  margin-bottom: 40px;
  margin-top: 5px;
  border-radius: 20px;
}

.pricing-item .pricing-body .price-wrapper .currency {
  height: 47px;
  font-weight: 500;
  font-size: 32px;
  color: #fff;
  position: relative;
  top: -1px;
}

.pricing-item .pricing-body .price-wrapper .price {
  font-weight: 500;
  font-size: 28px;
  color: #fff;
}

.pricing-item .pricing-body .price-wrapper .period {
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  display: block;
  letter-spacing: 0.88px;
}

.pricing-item .pricing-body .list li {
  text-align: center;
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 13px;
  color: #7a7a7a;
  letter-spacing: 0.25px;
  text-decoration: line-through;
}

.pricing-item .pricing-body .list li.active {
  color: #7a7a7a;
  text-decoration: none;
}

.pricing-item .pricing-footer {
  text-align: center;
  margin-top: 30px;
}

/* 
---------------------------------------------
blog
--------------------------------------------- 
*/
.blog-post-thumb {
  text-align: center;
  margin-bottom: 40px;
}

.blog-post-thumb.big .img {
  height: 400px;
}

.blog-post-thumb .img {
  overflow: hidden;
  border-radius: 20px;
  position: relative;
  height: 200px;
}

/* .blog-post-thumb .blog-content {
  margin-top: -30px;
  padding-top: 50px;
} */

.blog-post-thumb h3 {
  margin-bottom: 20px !important;
}

.blog-post-thumb h3 a {
  font-weight: 500;
  font-size: 18px;
  color: #1e1e1e;
  letter-spacing: 0.25px;
  line-height: 26px;
  transition: all 0.3s ease 0s;
}

.blog-post-thumb h3 a:hover {
  color: #FA6C9F;
}

.blog-post-thumb .text {
  font-weight: 400;
  font-size: 13px;
  color: #777;
  letter-spacing: 0.26px;
  line-height: 26px;
  margin-bottom: 15px;
}

.blog-post-thumb .post-footer span {
  float: left;
  height: 30px;
  line-height: 30px;
  font-weight: 300;
  font-size: 14px;
  color: #777;
  padding-left: 30px;
}

.blog-post-thumb a.main-button,
.blog-post-thumb a.main-button-o{
  margin-top: 20px;
  display: inline-block;
}

.blog-list .blog-post-thumb {
  text-align: left;
}


/* 
---------------------------------------------
footer
--------------------------------------------- 
*/
footer {
  background-color: #1F398D;
  padding: 30px 0px;
}

footer .social {
  overflow: hidden;
  margin-top: 10px;
  text-align: center;
}

footer .social li {
  margin: 0px 10px;
  display: inline-block;
}

footer .social li a {
  color: #9d5bd9;
   text-align: center;
  background-color: #fff;
  width: 36px;
  height: 36px;
  line-height: 36px;
  border-radius: 50%;
  display: inline-block;
  font-size: 16px;
  transition: all 0.3s ease 0s;
}

footer .social li a:hover {
  background-color: #FA6C9F;
  color: #fff;
}

footer .copyright {
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  color: #fff;
  letter-spacing: 0.88px;
  text-transform: uppercase;
}

@media (max-width: 991px) {
  footer .text {
    margin-bottom: 30px;
  }
  footer h5 {
    margin-bottom: 15px;
  }
  footer .footer-nav {
    margin-bottom: 30px;
  }
}

/* 
---------------------------------------------
preloader
--------------------------------------------- 
*/
#preloader {
  overflow: hidden;
  background: rgb(36, 69, 166);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  z-index: 9999;
  color: #fff;
}

#preloader .jumper {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
  position: absolute;
  margin: auto;
  width: 50px;
  height: 50px;
}

#preloader .jumper > div {
  background-color: #fff;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  position: absolute;
  opacity: 0;
  width: 50px;
  height: 50px;
  -webkit-animation: jumper 1s 0s linear infinite;
  animation: jumper 1s 0s linear infinite;
}

#preloader .jumper > div:nth-child(2) {
  -webkit-animation-delay: 0.33333s;
  animation-delay: 0.33333s;
}

#preloader .jumper > div:nth-child(3) {
  -webkit-animation-delay: 0.66666s;
  animation-delay: 0.66666s;
}

@-webkit-keyframes jumper {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  5% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes jumper {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  5% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* 20210709 add */
a, a:hover{
  color: #FA6C9F;
}
.nav{
  flex-wrap:nowrap;  
}
.header-area .main-nav .nav li{
  flex-shrink: 1;
}
.container-lg{
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
}
.container-lg::after{
  display: table;
  content: '';
  clear: both;
}
.header-text h1 {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  margin-bottom: 20px;
  color: #fff;
  text-align: center;
}
.header-text strong{
  color:#FA6C9F;
}
.header-text p {
  font-weight: 400;
  font-size: 15px;
  color: #fff;
  line-height: 28px;
  letter-spacing: 0.25px;
  margin-bottom: 40px;
  position: relative;
  text-align: center;
}

.mini-box {
  display: block;
  background: #375ACE;
  color: #fff;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 30px;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease 0s;
  text-align: center;
}
.start-area{
  background-image: linear-gradient( rgba(0,0,0,0.3) 0%, transparent 40%);
  background-color: #2445A6;
  background-size: cover;
  background-position: center center;
  min-height: 500px;
  padding: 210px 0px 70px 0px;
}
.start-area .text{
  text-align: center;
}
.mini-box:hover {
  transform: translateY(-10px);
  color: #fff;
}


.mini-box i {
  display: block;
  font-size: 20px;
  margin-bottom: 15px;
}

.mini-box span {
  display: block;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: .75px;
}

.mini-box ul, .mini-box ol{
  font-weight: 400;
  font-size: 14px;
  letter-spacing: .75px;
  text-align: left;
}
.mini-box ul i, .mini-box ol i{
  float: left;
  margin-bottom: 0;
  margin-right: 5px;
}
.mini-box p{
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: .75px;
  text-align: left;
  margin-bottom: 5px;
}

.mini-box strong {
  display: block;
  font-weight: 400;
  font-size: 17px;
  color: #fff;
  letter-spacing: 0.25px;
  margin-bottom: 5px;
  margin-top: 20px;
}

.mini-box h3 {
  display: block;
  font-weight: bold;
  font-size: 18px;
  color: #fff;
  letter-spacing: 0.25px;
  margin-bottom: 15px;
}
.mini-box h3.txt-left {
 text-align: left;
}
.min-box-type1 {
  padding: 40px 40px;
  text-align: left;
  display: flex;
  min-height: 220px;
  position: relative;
}
.min-box-type1 .img{
  width: 50%;
  padding: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.min-box-type1 .img img{
  max-width: 100%;
}
.min-box-type1 .text{
  width: 50%;
  padding: 0px 10px;
  display: flex;
  align-items: flex-start; 
}
.mini-box .icon{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 68px;
}
.icon img{
  max-width: 100%;
}
.section-title.one-title{
  margin-bottom: 50px;
}
.blog-post-thumb .img.ratio-normal{
  height: auto;
}
.img.ratio-normal img{
  max-width: 100%;
}
.blog-post-thumb .img.ratio-cube{
  height: 0;
  position: relative;
  width: 100%;
  padding-top: 100%;
  overflow: hidden;
}
.img.ratio-cube::after, .img.ratio-normal::after{
  content: '';
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.05);
  width: 100%;
  height: 100%;
}
.img.ratio-cube img{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  margin: auto;
  max-height: 100%;
}
.blog-post-thumb .img.ratio-cube .width100{
  max-width: 100% !important;
  max-height: initial !important;
}

.main-button + .main-button,
.main-button-o + .main-button-o{
  margin-left: 5px;
}
span.text-color-main{
  display: inline;
  color: #fcee1c;
}
span.text-color-sub{
  display: inline;
  color: #fcee1c;
}
.pricing-body .img{
  display: flex;
  justify-content: center;
  align-items: center;
}
.guest-card {
  min-height: 215px;
  overflow: hidden;
  position: relative;
  padding-top: 90px;
  padding-bottom: 90px;
}
.guest-card:before {
  content: '';
  position: absolute;
  width: 140%;
  height: 140%;
  opacity: .95;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url(../images/bg2.jpg);
  z-index: 2;
  top: -20%;
  left: -20%;
}

.guest-card-content {
  position: relative;
  z-index: 3;
}
.logo-item{
  position: relative;
  padding: 0 0 30px 0;
}
.logo-content{
  background-color: #777;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
  min-height: 120px;
  transition: all .2s;
}
.logo-content.spring{
  background-color: #FA6C9F;
}
.logo-content.dmn{
  background-color: #375ACE;
}
.logo-content.sp{
  background-color: #5F8DFE;
}
.logo-content:hover{
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}
.offset-lg-1\.5{
  margin-left: 12.5%;
}
.blog-post-thumb > a > .img::after{
  transition: background-color .3s;
  will-change: background-color;
}
.blog-post-thumb > a:hover > .img::after{
  content: '';
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
}
.blog-post-thumb > a:hover > .img::before{
  content: "\f002";
  font: normal normal normal 45px/1 FontAwesome;
  color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  margin: auto;
  width: 50px;
  height: 50px;
}

@media (max-width: 991px) {
  .offset-lg-1\.5{
    margin-left: 0%;
  }
  .min-box-type1 .text{
    align-items: center; 
  }
}

@media (max-width: 576px) {
  .header-text h1{
    font-size: 30px;
  }
  .min-box-type1{
    padding: 30px 15px;
  }
}

/* 20210805新增春天跟約專收費頁 */
.pricing-box{
  background: #375ACE;
  color: #fff;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin-bottom: 30px;
  padding: 70px 30px 70px 30px;
  overflow: hidden;
  position: relative;
}
.pricing-box-header{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pricing-box-header::after{
  content: '';
  border-radius: 100%;
  background-color: #3f64d8;
  position: absolute;
  right: 15px;
  left: -200px;
  bottom: -200px;
  margin: auto;
  top: -200px;
  transition: background-color .2s;
}
.pricing-box-header:hover::after{
  background-color: #466be0;
}
.pricing-type{
  position: relative;
  z-index: 2;
}
.pricing-type h4{
  font-weight: bold;
  font-size: 36px;
  color: #FA6C9F;
}
.pricing-type p{
  font-size: 20px;
  color: #fff;
}
.pricing-circle{
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 2;
  line-height: 1.2;
  color: #fff;
  background-color: #FA6C9F;
  width: 85px;
  height: 85px;
  border-radius: 100%;
  text-align: center;
  padding-top: 24px;
}
.pricing-circle:hover,
.pricing-circle.focus,
.pricing-circle:active{
  color: #fff;
}
.pricing-list{
  padding: 0px 0px 0px 30px;
}
.pricing-list li{
  position: relative;
  margin-bottom: 15px;
}
.pricing-list li:last-child{
  margin-bottom: 0px;
}
.pricing-list i.fa,
.pricing-list .icon{
  position: absolute;
  width: 20px;
  height: 20px;
  left: -30px;
  top: 0px;
}
.center-heading .section-subtitle {
  font-size: 20px;
}

@media (max-width: 767px) {
  .pricing-box{
    padding: 60px 30px 45px 30px;
  }
  .pricing-circle{
    left: auto;
    right: 20px;
  }
  .pricing-box-header{
    justify-content: start;
    padding-bottom: 80px;
    margin-bottom: 30px;
  }
  .pricing-box-header::after{
    left:-200px;
    right: -200px;
    top: -200px;
    bottom: 5px;
  }
  .pricing-list{
    margin-bottom: 15px;
  }
}